header {
    display: grid;
    grid-template-columns: 0.3fr 1fr 6fr 1fr 0.3fr;
    z-index: 1;
    justify-content: space-around;
    position: relative;
    text-align: center;
    background-color: #e0a11869;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    width: 100%;
    height: 1.5em;
    align-items: center;
    align-content: center;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}

html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

p {
    margin: 5px 0;
}

button {
    font-size: 13px;
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    border-color: #0a0a0a91;
    margin: 0.2em 0.2em;
}

#menu-container {
    display: flex;
    z-index: 2;
    margin-top: 0%;
    align-items: center;
    justify-content: center;
}

#achivments-container {
    position: absolute;
    z-index: 10;
    size: fit-content;
    margin-right: 3px;
    right: 0;
    top: 0;
}

.dialog-container {
    border: 5px solid #cccccc;
    border-radius: 5px;
    position: relative;
    height: 6.3em;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    z-index: 5;
    background-color: rgb(27, 27, 27);
}

#dialog-text {
    color: white;
    margin-bottom: 20px;
}

.box {
    position: absolute;
    top: -100000px;
}

.window {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: default;
    align-items: center;
}

.hidden {
    display: none;
}

.game-container {
    position: relative;
    text-align: center;
    display: flex;
    overflow: hidden;
    -webkit-font-smoothing: none;
    transition: filter 1.5s;
    touch-action: manipulation;
    height: 80%;
    margin: 0px;
}

#study-button {
    font-size: 20px;
    padding: 1em 1em;
}

#shop-container {
    background-color: rgb(202, 205, 50);
}

#pre-isekai-container {
    display: grid;
    padding: 2em;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#start-button {
    font-size: 20px;
    padding: 1em 1em;
}

#healingSpell-button {
    font-size: 10px;
    padding: 1em 1em;
}

#enemy-image {
    width: 100px;
    height: 100px;
}
